.header__image{
  width: 984px;
  height: 615px;
  margin: 0 auto;
}

@media screen and (max-width: 768px){
  .header__image{
    width: 100%;
    height: 480px;
  }
}

@media screen and (max-width: 320px){
  .header__image{
    width: 100%;
    height: 200px;
  }

}
