.ticket{
  width: 1280px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px){
  .ticket{
    width: 768px;
  }
}

@media screen and (max-width: 320px){
  .ticket{
    width: 320px;
  }
}
