.page{
  width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: white;
}

@media screen and (max-width: 768px){
  .page{
    width: 768px;
  }
}

@media screen and (max-width: 320px){
  .page{
    width: 320px;
  }
}
