.city{
  width: 1280px;
  padding: 92px 0;
  display: flex;
  row-gap: 80px;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 768px){
  .city{
    width: 768px;
    row-gap: 72px;
    padding: 88px 0 92px;
  }
}


@media screen and (max-width: 320px){
  .city{
    width: 320px;
    padding: 62px 0 64px;
    row-gap: 50px;
    display: flex;
  }
}
