.card__paragraph{
  width: 484px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.8125rem;
  padding-bottom: 25px;
}

@media screen and (max-width: 768px){
  .card__paragraph{
    width: 352px;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 14px;
  }
}

@media screen and (max-width: 320px){
  .card__paragraph{
    width: 288px;
    order: 5;
    padding-bottom: 7px;
  }
}
