.card__artist{
  width: 484px;
  padding-top: 107px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.12em;
  margin: 0;
  color: #AAAAAA;
  text-transform: uppercase;
}

@media screen and (max-width: 768px){
  .card__artist{
    width: 352px;
    padding-top: 0;
  }
}

@media screen and (max-width: 320px){
  .card__artist{
    width: 288px;
    order: 2;
    padding-top: 0;
  }
}
