.two-columns__subtitle{
  width: 720px;
  padding-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.125rem;
}

@media screen and (max-width: 320px){
  .two-columns__subtitle{
    width: 288px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    padding-top: 9px;
  }
}
