.header{
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px){
  .header{
    width: 768px;
  }
}

@media screen and (max-width: 320px){
  .header{
    width: 320px;
  }
}
