.card__pic{
  width: 460px;
  height: 460px;
  padding-bottom: 48px;
}

@media screen and (max-width: 768px){
  .card__pic{
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 320px){
  .card__pic{
    width: 100%;
    height: 320px;
    padding: 30px 0;
    order: 4;
  }
}
