.two-columns__title{
  width: 1017px;
  font-style: normal;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 3.625rem;
  margin: 0;
}

@media screen and (max-width: 768px){
  .two-columns__title{
    width: 720px;
  }

}

@media screen and (max-width: 320px){
  .two-columns__title{
    width: 288px;
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.1875rem;
  }
}
