.ticket__description{
  width: 1280px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

@media screen and (max-width: 768px){
  .ticket__description{
    width: 768px;
  }
}

@media screen and (max-width: 320px){
  .ticket__description{
    width: 320px;
  }
}
