.two-columns__paragraph{
  margin: 0;
  width: 720px;
  padding-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
}

@media screen and (max-width: 320px){
  .two-columns__paragraph{
    width: 288px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    padding-top: 1.125rem;
  }
}
