.table{
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 768px){
  .table{
    width: 768px;
  }
}

@media screen and (max-width: 320px){
  .table{
    width: 320px;
    gap: 12px;
  }
}
