.header__subtitle{
  width: 720px;
  padding-top: 32px;
  padding-bottom: 64px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0;
}

@media screen and (max-width: 320px){
  .header__subtitle{
    width: 288px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 40px;
  }
}
