.ticket__pic{
  width: 1184px;
  height: 740px;
  margin: 0 auto;
}

.ticket__pic:hover{
  background: #2A2C2F;
  opacity: 0.7;
}

@media screen and (max-width: 768px){
  .ticket__pic{
    width: 100%;
    height: 746px;
  }
}

@media screen and (max-width: 320px){
  .ticket__pic{
    width: 100%;
    height: 254px;
  }
}
