@import url(../font/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/logo/logo.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__image/header__image.css);

@import url(../blocks/description/description.css);
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/two-columns/__title/two-columns__title.css);
@import url(../blocks/two-columns/__subtitle/two-columns__subtitle.css);
@import url(../blocks/two-columns/__subtitle/-paragraph/two-columns__subtitle-paragraph.css);
@import url(../blocks/two-columns/__subtitle/-author/two-columns__subtitle-author.css);
@import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);

@import url(../blocks/table/table.css);
@import url(../blocks/table/__pic/table__pic.css);

@import url(../blocks/city/city.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__pic/card__pic.css);
@import url(../blocks/button/button.css);
@import url(../blocks/card/__artist/card__artist.css);
@import url(../blocks/card/__author/card__author.css);
@import url(../blocks/card/__paragraph/card__paragraph.css);
@import url(../blocks/card/__paragraph/-last/card__paragraph-last.css);
@import url(../blocks/card/__title/-gales/card__title-gales.css);
@import url(../blocks/card/__artist/-gales/card__artist-gales.css);
@import url(../blocks/card/__author/-gales/card__author-gales.css);
@import url(../blocks/card/-eua/card-eua.css);
@import url(../blocks/card/__artist/-eua/card__artist-eua.css);
@import url(../blocks/card/-burundi/card-burundi.css);

@import url(../blocks/ticket/ticket.css);
@import url(../blocks/ticket/__pic/ticket__pic.css);
@import url(../blocks/ticket/__description/ticket__description.css);
@import url(../blocks/ticket/__title/ticket__title.css);
@import url(../blocks/ticket/__subtitle/ticket__subtitle.css);
@import url(../blocks/button/-ticket/button-ticket.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);

/* 768 */

@import url(../blocks/card/-gales/card-gales.css);
@import url(../blocks/button/-eua/button-eua.css);
@import url(../blocks/card/__artist/-burundi/card__artist-burundi.css);
@import url(../blocks/button/-burundi/button-burundi.css);
@import url(../blocks/button/-brazil/button-brazil.css);

/* 320 */

@import url(../blocks/card/__pic/-burundi/card__pic-burundi.css);
@import url(../blocks/card/__paragraph/-burundi/card__paragraph-burundi.css);

