@import url(../fonts/Inter/fonts.css);
/*@import url(../blocks/page/page.css);*/

.page {
  max-width: 1280px;
  /*max-width: 1600px;*/
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
}

/*-----------------------------*/

.header{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.logo{
  width: 270px;
  height: 70px;
  margin-top: 34px;

  border: 1px solid red;
}



.header__title{
  color: white;
  width: 850px;
  padding-top: 90px;
  border: 1px solid red;
  text-align: center;
  font-size: 96px;
  font-weight: bold;
  line-height: 100px;
  margin: 0;

}


.header__subtitle{
  color: white;
  width: 720px;
  padding-top: 32px;
  padding-bottom: 64px;
  border: 1px solid red;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  margin: 0;
}

.header__image{
  width: 984px;
  height: 615px;


}
/*-----------------------------*/
.description{

  border: 1px solid red;
  display: flex;
  flex-direction: column;

}

.two-columns{
  color: white;
  border: 1px solid red;
  padding-left: 148px;
}

.two-columns__title{
  font-size: 54px;
  font-weight: bold;
  line-height: 58px;
  border: 1px solid red;
  width: 1017px;
  padding-top: 92px;
  margin: 0;
}

.two-columns__subtitle{
  width: 720px;
  padding-top: 40px;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  border: 1px solid red;
}

.two-columns__subtitle-paragraph{
  margin: 0;

}

.two-columns__subtitle-author{
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
}

.two-columns__paragraph{
  margin: 0;
  width: 720px;
  padding-top: 32px;
  padding-bottom: 92px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  border: 1px solid red;
}

/*-----------------------------*/

.table{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.table__pic{
  margin: 0;
  width: 284px;
  height: 213px;
}


/*-----------------------------*/
/*-----------------------------*/
/*-----------------------------*/
