@import url(../fonts/Inter/fonts.css);
@import url(../blocks/page/page.css);



.header{
  height: 100vh;
  margin: 0;
  border: 1px solid red;
  display: flex;
  position: relative;
  justify-content: center;

}

.logo{
  width: 270px;
  height: 70px;
  top: 34px;
  margin: 0;
  position: absolute;

  border: 1px solid red;
}



.header__title{
  color: white;
  width: 850px;
  height: 200px;
  top: 194px;
  border: 1px solid red;
  position: absolute;
  margin: 0;
  text-align: center;
  font-size: 96px;
  font-weight: bold;
  line-height: 100px;
}


.header__subtitle{
  color: white;
  width: 720px;
  top: 426px;
  border: 1px solid red;
  position: absolute;
  margin: 0;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
}

.header__image{
  width: 984px;
  height: 615px;
  top: 562px;
  position: absolute;
  margin: 0;
}
