@import url(../fonts/Inter/fonts.css);
/*@import url(../blocks/page/page.css);*/

body{
  background-color: #E5E5E5;;
}

.page {
  max-width: 1280px;
  /*max-width: 1600px;*/
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: white;
}

/*-----------------------------*/

.header{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.logo{
  width: 270px;
  height: 70px;
  margin-top: 34px;
  border: 1px solid red;
}



.header__title{
  width: 850px;
  padding-top: 90px;
  border: 1px solid red;
  text-align: center;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 6.25rem;

}


.header__subtitle{
  width: 720px;
  padding-top: 32px;
  padding-bottom: 64px;
  border: 1px solid red;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0;
}

.header__image{
  width: 984px;
  height: 615px;


}
/*-----------------------------*/
.description{

  border: 1px solid red;
  display: flex;
  flex-direction: column;

}

.two-columns{
  border: 1px solid red;
  padding-left: 148px;
}

.two-columns__title{
  font-style: normal;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 3.625rem;
  border: 1px solid red;
  width: 1017px;
  padding-top: 92px;
  margin: 0;
}

.two-columns__subtitle{
  width: 720px;
  padding-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.125rem;
  border: 1px solid red;
}

.two-columns__subtitle-paragraph{
  margin: 0;

}

.two-columns__subtitle-author{
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
}

.two-columns__paragraph{
  margin: 0;
  width: 720px;
  padding-top: 32px;
  padding-bottom: 92px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  border: 1px solid red;
}

/*-----------------------------*/

.table{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.table__pic{
  margin: 0;
  width: 284px;
  height: 213px;
}


/*-----------------------------*/

.city{

}

.city__cards{
  padding: 92px 0;
  display: flex;
  row-gap: 80px;
  border: 1px solid red;
  align-items: center;
  flex-direction: column;
}

.card{
  width: 984px;
  height: 756px;
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid red;
}

.card__description{
  display: flex;
  flex-direction: column;

}

.card__title{
  width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding-bottom: 48px;
  border: 1px solid red;
}

.card__pic{
  width: 460px;
  height: 460px;
  padding-bottom: 48px;
}

.button{
  background-color: #0278FE;
  padding: 13px 20px;
  border-radius: 4px;
  gap: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border: none;
  width: 355px;
  height: 48px;
  cursor: pointer;
}

.button__link{
  color: #FFFFFF;
  text-decoration: none;
}

.card__artist{
  padding-top: 107px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  margin: 0;
  color: #AAAAAA;
  border: 1px solid red;
  text-transform: uppercase;
}

.card__author{
  padding-bottom: 48px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  border: 1px solid red;

}



.card__paragraph{
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  border: 1px solid red;
  padding-bottom: 25px;
}



/*-----------------------------*/

.card__title-gales{
  width: 100%;
}

.card__artist-gales{
  padding-top: 85px;
}


.card__author-gales{
  padding-bottom: 0;
}



/*-----------------------------*/
.card__artist-eua{
  padding-top: 31px;
}

/*-----------------------------*/

.card-burundi{
  height: 100%;
}


/*-----------------------------*/

.ticket{
  display: flex;
  justify-content: center;

}

.ticket__pic{
  width: 1184px;
  height: 740px;
}

.ticket__description{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.ticket__title{
  padding-top: 243px;
  width: 656px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFDFD;

  margin: 0;
  z-index: 3;
  border: 1px solid red;

}

.ticket__subtitle{
  margin: 0;
  padding: 32px 0;
  width: 280px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 4;
  border: 1px solid red;

}

.button-ticket{
  margin: 0;
  width: 191px;
  height: 48px;
  z-index: 5;

}
/*-----------------------------*/
