@import url(../vendor/fonts.css);
/*@import url(../blocks/page/page.css);*/

body{
  background-color: #E5E5E5;;
}

.page{
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: white;

}

/*-----------------------------*/

.header{
  width: 1280px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.logo{
  width: 270px;
  height: 70px;
  margin: 34px auto 0;
  border: 1px solid red;
}



.header__title{
  width: 850px;
  padding-top: 90px;
  border: 1px solid red;
  text-align: center;
  display: flex;
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 6.25rem;

}


.header__subtitle{
  width: 720px;
  padding-top: 32px;
  padding-bottom: 64px;
  border: 1px solid red;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0;
}

.header__image{
  width: 984px;
  height: 615px;
  margin: 0 auto;
}



/*-----------------------------*/
.description{
  width: 1280px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  padding: 92px 0;
}

.two-columns{
  border: 1px solid red;
  padding-left: 148px;
}

.two-columns__title{
  width: 1017px;
  font-style: normal;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 3.625rem;
  border: 1px solid red;
  width: 1017px;
  margin: 0;
}

.two-columns__subtitle{
  width: 720px;
  padding-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.125rem;
  border: 1px solid red;
}

.two-columns__subtitle-paragraph{
  margin: 0;

}

.two-columns__subtitle-author{
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
}

.two-columns__paragraph{
  margin: 0;
  width: 720px;
  padding-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  border: 1px solid red;
}

/*-----------------------------*/

.table{
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.table__pic{
  margin: 0;
  width: 284px;
  height: 213px;
}


/*-----------------------------*/

.city{
  width: 1280px;
  padding: 92px 0;
  display: flex;
  row-gap: 80px;
  align-items: center;
  flex-direction: column;

}

.card{
  width: 984px;
  height: 756px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  border: 1px solid red;
}


.card__title{
  width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  margin: 0;
  padding-bottom: 48px;

}

.card__pic{
  width: 460px;
  height: 460px;
  padding-bottom: 48px;
}

.button{
  background-color: #0278FE;
  padding: 13px 20px;
  border-radius: 4px;
  gap: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
  border: none;
  width: 355px;
  height: 48px;

}

.button:hover{
  cursor: pointer;
  background-color: #0063D2;

}

.button__link{
  color: #FFFFFF;
  text-decoration: none;
}

.card__artist{
  width: 484px;
  padding-top: 107px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.12em;
  margin: 0;
  color: #AAAAAA;
  text-transform: uppercase;
}

.card__author{
  width: 484px;
  padding-bottom: 48px;
  line-height: 1.375rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0;


}



.card__paragraph{
  width: 484px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.8125rem;

  padding-bottom: 25px;
}

.card__paragraph-last{
  padding: 0;
}

/*-----------------------------*/

.card__title-gales{
  width: 484px;
}

.card__artist-gales{
  padding-top: 85px;
}


.card__author-gales{
  padding-bottom: 0;
}



/*-----------------------------*/
.card-eua{
  height: 680px;
}
.card__artist-eua{
  padding-top: 31px;
}

/*-----------------------------*/
.card-burundi{
  height: 830px;
}




/*-----------------------------*/

.ticket{
  width: 1280px;
  display: flex;
  justify-content: center;

}

.ticket__pic{
  width: 1184px;
  height: 740px;
  margin: 0 auto;
}

.ticket__pic:hover{
  background: #2A2C2F;
  opacity: 0.7;

}

.ticket__description{
  width: 1280px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.ticket__title{
  padding-top: 243px;
  width: 656px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  text-align: center;
  color: #FFFDFD;
  margin: 0;
  border: 1px solid red;
}

.ticket__subtitle{
  margin: 0;
  padding: 32px 0;
  width: 280px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  border: 1px solid red;
}

.button-ticket{
  margin: 0;
  width: 191px;
  height: 48px;
}
/*-----------------------------*/
.footer{
  width: 1280px;
  padding: 92px 0 24px;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.footer__text{
  width: 1280px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
}

/*-----------------------------*/
@media screen and (max-width: 768px){
  .header{
    width: 768px;
  }

  .header__title{
    width: 720px;
  }

  .header__image{
    width: 100%;
    height: 480px;
  }
/*-----------------------------*/

  .description{
    width: 768px;
    padding: 88px 0 64px;
  }

  .two-columns{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .two-columns__title{
    width: 720px;
  }

/*-----------------------------*/
  .table{
    width: 768px;
  }
  /*-----------------------------*/
  .city{
    width: 768px;
    row-gap: 72px;
    padding: 88px 0 92px;
  }

  .card{
    width: 720px;
    height: 600px;
    column-gap: 13px;

  }

  .card__title{
    width: 340px;
    font-size: 42px;
    line-height: 46px;
  }

  .card__pic{
    width: 340px;
    height: 340px;
  }

  .card__artist{
    width: 352px;
    padding-top: 0;
  }

  .card__author{
    width: 365px;
    padding-bottom: 46px;
  }

  .card__paragraph{
    width: 352px;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 14px;
  }

  .button{
    margin-bottom: 70px;
  }

  .card__paragraph-last{
    padding: 0;
  }
/*-----------------------------*/
  .card-gales{
    margin-top: -41px;
    height: 632px;
  }

  .card__title-gales{
    padding: 21px 0 0;
  }

  .card__artist-gales{
    padding-top: 0px;
  }
  .card__author-gales{
    padding-bottom: 0;
  }

  /*-----------------------------*/

  .card-eua{
    margin-top: -26px;
    height: 587px;
  }

  .button-eua{
    margin-bottom: 40px;
  }
/*-----------------------------*/
  .card-burundi{
    height: 818px;
  }
  .card__artist-burundi{
    padding-top: 47px;
  }

  .button-burundi{
    margin-bottom: 180px;
  }

  /*-----------------------------*/

  .button-brazil{
    margin-bottom: 5px;
  }

  /*-----------------------------*/
  .ticket{
    width: 768px;
  }
  .ticket__description{
    width: 768px;
  }
  .ticket__pic{
    width: 100%;
    height: 746px;
  }

  .footer{
    padding: 88px 0 24px;
    width: 768px;
  }
}

@media screen and (max-width: 320px){
  .header{
    width: 320px;
  }
  .logo{
    width: 200px;
    height: 51.85px;
    margin-top: 20px;
  }

  .header__title{
    width: 288px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    padding-top: 50.15px;
  }

  .header__subtitle{
    width: 288px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 40px;
  }

  .header__image{
    width: 320px;
    height: 200px;
  }

  /*-----------------------------*/
  .description{
    width: 320px;
    padding: 44px 0 38px;
  }



  .two-columns__title{
    width: 288px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }

  .two-columns__subtitle{
    width: 288px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    padding-top: 9px;
  }

  .two-columns__subtitle-author{
    padding-top: 10px;
  }

  .two-columns__paragraph{
    width: 288px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 18px;
  }

  /*-----------------------------*/
  .table{
    width: 320px;
    gap: 12px;
  }
  /*-----------------------------*/

  .city{
    width: 320px;
    padding: 62px 0 64px;
    row-gap: 50px;
    display: flex;

  }

  .card{
    width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  .card__title{
    border: 1px solid red;
    width: 288px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    order: 1;
    padding-bottom: 30px;
  }

  .card__artist{
    width: 288px;
    order: 2;
    padding-top: 0;

  }

  .card__author{
    width: 288px;
    order: 3;
    padding-bottom: 0;
  }

  .card__pic{
    width: 320px;
    height: 320px;
    padding: 30px 0;
    order: 4;
  }

  .card__paragraph{
    width: 288px;
    order: 5;
    padding-bottom: 7px;
  }
  .card__paragraph-last{
    padding-bottom: 22px;
  }

  .button{
    width: 288px;
    height: 48px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 16px 22px 15px 21px;
    order: 6;
  }



  /*-----------------------------*/
  .card-gales{
    margin-top: -13px;
  }
  .card__title-gales{
    padding: 0;
  }
  .card__artist-gales{
    padding: 8px 0;
  }
/*-----------------------------*/
  .card__pic-burundi{
    padding-top: 8px;
  }
  .card__paragraph-burundi{
    padding-bottom: 25px;
  }
  /*-----------------------------*/
  .ticket{
    width: 320px;
  }
  .ticket__description{
    width: 320px;
  }
  .ticket__pic{
    width: 320px;
    height: 254px;
  }

  .ticket__title{
    padding-top: 46px;
    width: 288px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }

  .ticket__subtitle{
    padding: 16px 0;
    font-size: 14px;
    line-height: 16px;
  }


  .footer{
    width: 320px;
    padding: 64px 0 24px;
  }

  .footer__text{
    font-size: 14px;
    line-height: 14px;
  }
}
