.card-eua{
  height: 680px;
}

@media screen and (max-width: 768px){
  .card-eua{
    margin-top: -26px;
    height: 587px;

  }
}

@media screen and (max-width: 320px){
  .card-eua{
    height: 100%;
  }
}
