.card__title{
  width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  margin: 0;
  padding-bottom: 48px;
}

@media screen and (max-width: 768px){
  .card__title{
    width: 340px;
    font-size: 2.625rem;
    line-height: 2.875rem;
  }
}

@media screen and (max-width: 320px){
  .card__title{
    width: 288px;
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.1875rem;
    order: 1;
    padding-bottom: 30px;
  }
}
