.ticket__title{
  padding-top: 243px;
  width: 656px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  text-align: center;
  color: #FFFDFD;
  margin: 0;
}

@media screen and (max-width: 320px){
  .ticket__title{
    padding-top: 46px;
    width: 288px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}
