.card{
  width: 984px;
  height: 756px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

@media screen and (max-width: 768px){
  .card{
    width: 720px;
    height: 600px;
    column-gap: 13px;
  }
}

@media screen and (max-width: 320px){
  .card{
    width: 320px;
    height: 100%;
    column-gap: 0;
    align-items: center;
  }
}
