.card__artist-gales{
  padding-top: 85px;
}

@media screen and (max-width: 768px){
  .card__artist-gales{
    padding-top: 0px;
  }
}

@media screen and (max-width: 320px){
  .card__artist-gales{
    padding: 8px 0;
  }
}
